



.bannerTitle {
  font-family: 'Della Respira', serif;
  letter-spacing: 5px;
}

.bannerContent {
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
	text-shadow: 0px 5px 9px #d19223;
}

.cardPreviewProducts {
	display: flex;
  justify-content: center;
}


/* Account.css */

.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-column {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.vertical-line {
  border-left: 1px solid #ccc;
  height: 300px; /* Adjust the height as needed */
  margin: 0 20px;
}

/*register.js and login.js*/

.custom-input {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  outline: none !important;
  border-radius: 0 !important;
}

.custom-input:focus {
  box-shadow: none !important;
  border-color: #ccc !important;
  /* You can adjust the border color to your preference */
}

/*cart.js*/

.cart-container {
  position: fixed;
  top: 0;
  right: -100%; /* Initially, the cart will be off-screen to the right */
  width: 50%;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}